<h1>Quotes đỉnk kout zới chẻ</h1>
<br />
<p>-------------------------</p>

<p><i>&#10077</i> Nếu một ngày nào đó</p>
<p>Tốc độ <del>giết chết tôi</del></p>
<p>Xin đừng khóc bởi lúc đó</p>
<p>Tôi đang mỉm cười <i>&#10078</i></p>

<p>--Nguồn---</p>
<img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/105427174_2650879241896087_8668075848075069829_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=ij_d0dMiyZsAX9ksImb&_nc_ht=scontent-hkg4-1.xx&oh=7b9ee2892cdc3e46b3f46116ddac1d46&oe=60D35F29" width="400" height="400" alt="Alternate Text" />
<br />
<p>-------------------------</p>

<p><i>&#10077</i> <mark>Gét tao</mark></p>
<p>là <mark>chuyện của mày</mark></p>
<p><mark>ăn được tao</mark> hay không</p>
<p>Đó mới là <mark>đẳng cấp</mark> !<i>&#10078</i></p>

<p>--Nguồn---</p>
<img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/105345987_2650879341896077_4645770095271317542_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=TgyoBK8JFi4AX8LKUwi&_nc_ht=scontent-hkg4-2.xx&oh=2a905813da8efd8a5cb3f68850ec768c&oe=60D162F3" width="400" height="400" alt="Alternate Text" />

<p>-------------------------</p>

<p><i>&#10077</i> <strong>Anh Em</strong> <del>Vật Chất</del> Làm Gì</p>
<p><b><i>Điếu Thuốc Chén Trà</i></b></p>
<p>Vẫn Là <strong>Anh Em</strong> !<i>&#10078</i></p>

<p>--Nguồn---</p>
<img src="https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/73390878_2650879331896078_1897140371420162217_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=IPbl8A_Bpk4AX-i0IMM&_nc_ht=scontent-hkg4-2.xx&oh=42907cd423237fcf131b72668f6003d0&oe=60D36754" width="400" height="400" alt="Alternate Text" />
